src/main/mule/myfirstmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="7c9a4f45-b187-4d00-bd36-d169a847989f" >
		<http:listener-connection protocol="HTTPS" host="0.0.0.0" port="${https.port}" >
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="${keystore.password}" password="${password}" alias="mule"/>
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="63cc27fc-bbbb-40aa-a2ce-5e99183ea391" file="local.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="da1f7803-cb3e-4323-a1a3-dd3c8ac1099d" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="myfirstmuleFlow" doc:id="4f9c7607-2cd3-4cc0-be17-1b8649ee135a" >
		<http:listener doc:name="Listener" doc:id="b5fa0a6c-8565-434a-92d5-ede2200171ba" config-ref="HTTP_Listener_config" path="/status" outputMimeType="application/json" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="0914c7c7-ed9c-4fd8-a92e-0654946944c6" message="This is from calling API pushed to git."/>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	&#10;	"result":"success"&#10;}]' doc:name="Set Payload" doc:id="3098f11b-0130-4aec-96b0-cd3c1189e88e" mimeType="application/json"/>
	</flow>
</mule>
