src/main/mule/myfirstmule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="08362402-7e48-4100-85b1-963af92e9dbd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstmuleFlow" doc:id="4f9c7607-2cd3-4cc0-be17-1b8649ee135a" >
		<http:listener doc:name="Listener" doc:id="b5fa0a6c-8565-434a-92d5-ede2200171ba" config-ref="HTTP_Listener_config" path="/status" outputMimeType="application/json" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="0914c7c7-ed9c-4fd8-a92e-0654946944c6" message="This is from calling API"/>
		<set-payload value='#[output application/json&#10;---&#10;{&#10;	&#10;	"result":"success"&#10;}]' doc:name="Set Payload" doc:id="3098f11b-0130-4aec-96b0-cd3c1189e88e" mimeType="application/json"/>
	</flow>
</mule>
